 <div class="container">
    <div id="latest-posts">
      <div class="page-info">
        <div class="page-title-container">
          <h2 class="page-title circle-pink">Blog</h2>
        </div>
        <div class="page-desc-container">
          <h4 class="page-desc">Speech-Tastic prides itself in creating great teaching materials at a great price</h4>
        </div>
      </div>

      <% if can? :create, Post %>
        <%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
      <% end %>

      <% @posts.each do |post| %>

            <div class="post">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <%= render partial: 'shared/post_header', locals: {post: post} %>
                </div>
                <div class="panel-body">
                    <div class="post-content truncate lines-10">
                      <%= post.content.html_safe %>
                    </div>

                    <%= link_to "READ MORE", post %>
                    <%= render partial: "shared/post_maintenance", locals: {post: post} %>


                </div>
              </div>
          </div>
      <% end %>
    </div>
 </div>


