<div class="container">

  <div id="store">

    <div class="page-info">
      <div class="page-title-container">
        <h2 class="page-title circle-blue-gray">Store</h2>
      </div>
      <div class="page-desc-container">
        <h4 class="page-desc">Speech-Tastic prides itself in creating great teaching materials at a great price</h4>
      </div>
    </div>
    <% if can? :create, Product %>
        <%= link_to 'New Product', new_product_path, class: 'btn btn-success'%>
    <% end %>

    <div class="product-group">
      <% @products.each do |product| %>
          <div class="product">
            <div class="product-info">
              <%= image_tag product.image_url, class: "center-block"%>
              <div class="title"><%= product.title %></div>
              <p class="desc"><%= product.description %></p>
            </div>

            <a href="<%= product.link %>" class="btn btn-product">Learn More</a>
            <% if can? :update, product %>
                <ul class="admin-store-edits">
                  <li><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-default' %></li>
                  <% if can? :delete, product %>
                    <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></li>
                  <% end %>
                </ul>
            <% end %>
          </div>

      <% end %>
    </div>

  </div>
</div>